<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Hr Attendance Report</h2>
        <p class="oe_mt32">
This module allow you to print attendance report.
<br/><br/><b>Features: </b><br/>
- Allow user to print report by single employee and multiple employee.
<br/><br/>
    </p>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Attendance Report Wizard</h2>
        <br/>
        <div>
            <div class="oe_demo oe_screenshot">
                <img src="wizard.png">
            </div>
        </div>
        <br/>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Weekly Attendance Report by Employee</h2>
        <br/>
        <div>
            <div class="oe_demo oe_screenshot">
                <img src="singal_employee.png">
            </div>
        </div>
        <br/>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Weekly Attendance Report by All Employees</h2>
        <br/>
        <br/>
        <div>
            <div class="oe_demo oe_screenshot">
                <img src="multi_employee.png">
            </div>
        </div>
    </div>
</section>

 
